<Application resource-id="transmission">
  <AppID>NETGEAR_GENIEAPP_000006</AppID>
  <Category>APP_CAT_OTHER</Category>
  <Version>2.76</Version>
  <Name>Transmission</Name>
  <Author>Tobias Hieta</Author>
  <RequireReboot>0</RequireReboot>
  <LaunchURL>http://localhost:5052</LaunchURL>
  <ConfigURL>http://localhost:5052</ConfigURL>
  <DebianPackage>transmission</DebianPackage>
  <ServiceName>fvapp-transmission.service</ServiceName>
  <Description lang="en-us">A Fast, Easy and Free BitTorrent Client</Description>
</Application>
