[Unit]
Description=Transmission BitTorrent Client
After=network.target

[Service]
ExecStart=/apps/transmission/start.sh
Type=forking
PIDFile=/apps/transmission/transmission.pid
User=admin

[Install]
WantedBy=multi-user.target
